@import '@/assets/fonts/stylesheet.css';

// colors

$primary: #6a2c70;
$secondary: #b83b5e;
$white: rgba(255, 255, 255, 1);
$purple: rgba(182, 97, 215, 1);
$dark: rgba(0, 0, 0, 1);
$yellow: #f08a5d;
$green-1: rgba(4, 78, 32, 1);
$green-2: rgba(180, 246, 186, 1);
$blue-1: rgba(14, 129, 212, 1);
$blue-2: rgba(224, 236, 244, 1);
$red-1: rgba(125, 31, 17, 1);
$red-2: rgba(239, 165, 165, 1);

// styles

$radius-1: 10px;
$radius-2: 100%;

// typography

$roboto: 'Roboto', sans-serif;
